{
    "default_server_config": {
        "m.homeserver": {
            "base_url": "https://chat.{{ domain }}",
            "server_name": "chat.{{ domain }}"
        },
        "m.identity_server": {
            "base_url": "https://vector.im"
        }
    },
    "brand": "{{ community_name }}",
    "integrations_ui_url": "https://scalar.vector.im/",
    "integrations_rest_url": "https://scalar.vector.im/api",
    "integrations_widgets_urls": [
        "https://scalar.vector.im/_matrix/integrations/v1",
        "https://scalar.vector.im/api",
        "https://scalar-staging.vector.im/_matrix/integrations/v1",
        "https://scalar-staging.vector.im/api",
        "https://scalar-staging.riot.im/scalar/api"
    ],
    "default_theme": "light",
    "room_directory": {
        "servers": ["chat.{{ domain }}"]
    },
    "enable_welcome": false,
    "features": {
        "feature_video_rooms": true,
        "feature_element_call_video_rooms": true
    }
}
